<div class="container">
  <nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#">Meme Madi</a>
  </nav>
<section class="gallery-block cards-gallery">
  <div class="container">
    <div class="row">
      <app-edit #editMeme
      [show_converted_meme]="show_converted_meme"
      ></app-edit>
    </div>
  </div>
  <br />
  <br />
  <div class="container">
    <div class="heading">
      <h2>Popular Memes</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4" *ngFor="let meme of memes">
        <div class="card border-0 transform-on-hover">
          <a class="lightbox" href="javascript:void(0)" (click)="selectMeme(meme)">
            <img src={{meme.url}} alt="Card Image" class="card-img-top img-fluid">
          </a>
          <div class="card-body">
            <h6>
              <a href="#">{{meme.name}}</a>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>